 @font-face {
  font-family: florisa;
  src: url(./FlorisaPersonalUse-nRm84.otf);
}
 
 *{ margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}   
   
h1 { 
  font-family: florisa;
}


body { background-color: rgb(115, 0, 255);}


header , footer { 
    padding: 4rem;
    text-align: center;
}



table {
   /* border-collapse: collapse; */ 
   border-spacing: 0;
   margin: 0 20px;
}


tr:nth-child(even) { background-color: #abdb19;}
tr:nth-child(odd) {background-color: hsl(83, 79%, 46%);
  
}


th,td{ border: 1px solid rgb(30, 240, 247); 

padding: 5px 7px; }


th {
  text-transform: uppercase;
  background-color: #35c533;
}
td:nth-child(5) {
  text-align: right;
}
tbody tr {
  transition: all 150ms;
}

tbody tr:hover {
  background-color: #0cec57;
}

/* Loader */

#loader {
  background-color: #cee216;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: florisa;
  font-size: 1.5rem;
  display: none;
}

#loader.show {
  display: block;
}
.hide {
  display: none;
}

#villains-row td { 
  background-color: rgb(224, 203, 15);
}

#modal { 
  background-color: rgb(211, 115, 213);
  padding: 50px;
  padding-top: 60px;
  position: relative;
  
}
.close-modal { 
  position: absolute;
 top: 10px;
 right: 20px;
 font-size: 2rem;
 background-color: rgb(229, 83, 15);
 line-height: 1;
 padding: 5px 8px;
 padding-top: 0;
 border-radius: 10px;
 cursor: pointer;
 transition: all 200ms;
}

.close-modal:hover { 

  transform: scale(1.1) ;
}

#modal ul { 

  list-style: none;
  
}

#blur-bg { 
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100wh;
  height: 100wh;
  backdrop-filter: blur 5px;




}